<h2>User</h2>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email unless @user.email.nil? %></p>

<% if @user.boxes %>
  <h2>Collections</h2>
  <% for box in @user.boxes %>
    <ul>
      <li><%= link_to "#{box.name}", box_path(box) %> - <%= link_to 'Edit', edit_box_path(box) if current_user %></li>
    </ul>
  <% end %>
<% end %>
<p><%= link_to "Create Collection", new_box_path %><p>
