<h2>Editing <%= @box.name %></h2>

<p>Category : <%= @box.category.name unless @box.category.nil? %></p>

<% unless @box_items.blank? %>
  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Tags</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @box_items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= item.tags_to_s %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %> | <%= link_to '(delete)', item_path(item), :method => :delete, :confirm => "yousure?" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<p><%= link_to "Add an Item", new_item_path(:id => @box.id) %></p>
