<h1>My Collections</h1>
<p><%= link_to "Create Collection", new_box_path %><p>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% current_user.boxes.each do |b| %>
    <tr>
      <td><%= link_to b.name, box_path(b) %></td>
      <td><%= b.category.name %></td>
      <td><%= link_to 'Edit', edit_box_path(b) %> | <%= link_to "Add an Item", new_item_path(:id => b.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>