<h2><%= @box.name %></h2>

<p>Category : <%= @box.category.name unless @box.category.nil? %></p>

<% unless @box_items.blank? %>
  <h3>Items</h3>
  <% @box_items.each do |item| %>
    <ul>
      <li><%= item.title %> |
      <%= link_to 'Edit', edit_item_path(item) %> |
      <%= link_to '(delete)', item_path(item), :method => :delete, :confirm => "yousure?" %></li>
    </ul>
  <% end %>
<% end %>

<p><%= link_to "Add an Item", new_item_path(:id => @box.id) %></p>
