<!DOCTYPE html>
<html>
<head>
  <title>PassionBox</title>
  <%= stylesheet_link_tag    "reset", "text", "960", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_12">
  <%= yield %>
</div>
<%= yield :javascripts %>
</body>
</html>
