<!DOCTYPE html>
<html>
<head>
  <title>PassionBox</title>
  <%= stylesheet_link_tag    "twitbootstrap", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><%= link_to 'PassionBox', root_path %></h3>
          <ul class="nav">
            <% if current_user %>
            <li class="active"><%= link_to 'Dashboard', '#' %></li>
            <li><%= link_to 'View Profile', user_path(current_user) %></li>
            <li><%= link_to 'Create Item', new_item_path %></li>
            <li><%= link_to 'Items', items_path %></li>
            <li><%= link_to 'Sign Out', signout_path %></li>
            <% else %>
            <li><%= link_to 'Twitter Sign In', "auth/twitter" %></li>
            <li><%= link_to 'Facebook Sign In', "auth/facebook" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div id="content">
      <%= flash_helper %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
